body {
  text-align: center;
  background-color: #f6eacf;
  font-family: 'Fredoka One', cursive;
}

.slot {
  color: #ffac33;
}

.machine {
  color: #4ab7a1;
  line-height: 0;
}

h1 {
  font-size: 60px;
  letter-spacing: 5px;
}

.row-container {
  padding-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.column {
  width: 30%;
  height: 300px;
  border: 6px solid peru;
  border-radius: 15px;
  margin-right: 30px;
  background-color: peachpuff;
}

.info-row {
  padding-top: 50px;
  font-size: 40px;
  color: #cb3c64;
}

img {
  height: 300px;
}

#play {
  line-height: 36px;
  padding: 20px;
  border-radius: 10px;
  background-color: peachpuff;
  color: peru;
  border: 4px solid peru;
}

#play:active {
  box-shadow: inset 2px 2px 20px #ebaf73;
}

#bet-money {
  padding: 6px 0 20px 20px;
  border-radius: 10px;
}

@media only screen and (min-width: 650px) and (max-width: 900px) {
  .row-container {
    padding-left: 20px;
  }

  img {
    height: 200px;
  }

  .column {
    height: 225px;
  }
}

@media only screen and (max-width: 650px) {
  .row-container {
    flex-direction: column;
    align-items: center;
  }

  img {
    height: 200px;
  }

  .column {
    width: 50%;
    height: 230px;
  }

  h1 {
    font-size: 40px;
  }

  .info-row {
    font-size: 20px;
    margin-bottom: 30px;
  }

  #play {
    line-height: 26px;
    padding: 10px;
  }

  #bet-money {
    padding-bottom: 15px;
  }
}
