/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  font-size: 12px;
  line-height: 1.4;
  font-family: Helvetica, Arial, sans-serif;
  border: 1px solid red;
}

/******************************************
/* LAYOUT
/*******************************************/
div{
  height: 200px;
  width: 200px;
  border: 2px solid red;
  transition: transform 2s ;
  position: relative;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
