* {
    text-align: center;
    font-family: sans-serif;
}

body {
    background-image: url("../Images/catpaws.jpg");
}

.slotContainer {
    display: flex;
}

.reels {
    height: 250px;
    width: 250px;
    border: 1px solid black;
    border-radius: 30%;
    margin: 1rem;
    background: white;
}

img {
    width: 80%;
    padding: 2rem;
}

div {
    display: flex;
    justify-content: center;
}

h1,
h2,
h3,
span {
    font-size: 5rem;
    color: rgb(53, 168, 53);
    text-shadow: 3px 4px 3px rgb(5, 34, 87);
    font-family: 'Titan One', sans-serif;
    letter-spacing: .2rem;
}

h2,
h3 {
    font-size: 1.5rem;
}

span {
    color: yellow;
    font-size: 3rem;
}

button {
    background: lightgreen;
    padding: 1rem;
    border-radius: 30%;
    font-family: 'Titan One', sans-serif;
}