*{
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
     background: rgb(12, 45, 12);
    color: white; 
}

section {
    height: 500px;
    width: 70%;
    padding-left: 30%;
    display: inline-block;
    margin-top: 4%;
}

.reel {
    display:inline-block;
    height: 100px;
    font-size: 70px;
}

 button {
    height: 50px;
    min-width: 20%;
    background: green;
    border-radius: 6%;
    border: none;
    
} 

h1 {
    font-size: 50px;
}

footer {
    height: 200px;
    width: 20%;
    display: inline-block;
    margin-left: 5%;
}

img {
    height: 200px;
    width: 70%;
}



