p{
  font-size: 30px;
    /* font-weight: 700; */
  font-weight: bolder;
  font-family: fantasy;
  text-align: center;
}

.box {
  display: inline-block;
  width: 24%;
  height: 300px;
  margin: 1% 4% 1% 4%;
  border: 7px double black;  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(https://images-na.ssl-images-amazon.com/images/I/81YToFTFraL._SY355_.png);
}
body{
  background-color: gold;
}
h1{
  text-align: center;
  font-size: 46px;
  font-family: fantasy;
  font-weight: bolder;
}
.whichButton{
  width: 100%
}
button{
  width: 32%;
  font-size: 29px;
  border-radius: 5%;
  text-align: center;
  margin: 3% 9% 1% 8%;
}
