*{
  box-sizing: border-box;
}

h1{
font-size:4rem;
text-align:center;
font-style: bolder;
font-weight: 100;
}

.images{
height:400px;
width:80%;
margin-left:9%;
float:left;
margin-top:4%;
border:1px solid gold;
border-radius: gold;
}

.same{
width:32%;
height:400px;
border:1px solid black;
}

.same1{
width:32%;
height:400px;
border:1px solid black;
}

.same2{
height:400px;
width:35%;
border:1px solid black;
}

.top{
height:50px;
width:15%;
margin-left: 40%;
float:left;
margin-top: 5%;
}

.bottompart{
height:40px;
width:13%;
float:left;
margin-top:0%;
}

.Balance{
font-size: 2rem;
font-weight: 100;
}

body{
background: url(../images/peakpx.jpg);
}

.amount{
font-size:large;
}

button{
width: 40%;
}

