*{
    box-sizing: border-box;
    font-family: sans-serif;
}
h1{
    text-align: center;
    font-size: larger;
    margin-left: 3%;
    color: white;
}
h2{
    text-align: center;
    font-size: larger;
    margin-left: 3%;
    color: white;
}
.img{
    border: 2px solid white;
    width: 16%;
    height: 200px;
    float: left;
    max-width: 100%;
    max-height: 100%;
}
#credits{
    border: 2px solid white;
    width: 20%;
    height: 200px;
   float: right;
}
.amount{
   margin-top: 20%;
   margin-left: 14%;
   height: 40px;
}
body{
    background-image: url("https://www.bestcasinosites.net/images/stock-images/automatic-roulette-real-casino.jpg");
    background-size: 1600px ;
}
button{
    margin-left: 49%;
}
.img{
    max-width: 100%;
    max-height: 100%;
}
#credits{
    color: white;
   

}