/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}
body {background-image: url('lucky.png'); 
  background-size: cover;
  text-align: center;
}
 .middle {
  font-size: 50px;
}
span{
  font-size: 40px;
}
.middle{
  margin:auto;
}

