/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
  
}

img {
  width: 150px;
  height: 150px;
  float: left;
  padding-right: 10px;
}

.result {
  clear: both;
}





























/* Tablet size */
@media (min-width:601px) and (max-width: 800px) {

}




 /* Mobile size  */
@media only screen and (max-width: 600px) {

}

