<!DOCTYPE html>
<html lang="en">
	<head> 
    	<meta charset="utf-8">
    	<meta name="description" content="Your description goes here">
    	<meta name="keywords" content="one, two, three">
			<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>JDM slot machine</title>
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Stalinist+One&display=swap" rel="stylesheet">
		<!-- external CSS link -->
		<link rel="stylesheet" href="css/reset.css">
		<link rel="stylesheet" href="css/style.css">
		<link rel="stylesheet" href="css/module.css">

	</head>
	<body>
		<h1>JDM SLOT MACHINE</h1>
		<section class='slots'>
			<section id='slotA' class='box'>


			</section>
			<section id='slotB' class='box'>

			</section>
			<section id='slotC' class='box'>

			</section>

		</section>
	<section class="buttons">
		<button type="button" id='min' name="button">$250</button>
		<button type="button" id='minTwo' name="button">$1000</button>
		<button type="button" id='max' name="button">$2500</button>
	</section>
		<p id='wallet' ></p>
		<audio id="audio">
  <source src="moneySound.wav.mp3" type="audio/mpeg">
  </audio>
		<script type="text/javascript" src="js/main.js"></script>
	</body>
</html>
