html{
    font-size: 62.5%;

}

body{
    margin: 20px;
    text-align: center;
    background: black;
    color: white;

}



h1, h2{
    font-size: 5.4rem;
    margin: 60px 0;
    font-family: 'Jacques Francois Shadow';
}

span{
    font-size: 4.2rem;
}

p, p>span{
    font-size: 2.8rem;
    margin: 20px 0;
}

button{
    color: white;
    background: black;
    border: 2px solid white;
    font-size: 2rem;
}



.hide, .fa-duotone{
    display: none;
}