img{
    display: flex;
    height: 200px;
    justify-content: center;
    flex-direction: row;
}

body{
     color: whitesmoke;
    font-weight: bolder;
    text-align: center;
    background-image: url("best.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.topthree{
       display: flex;
       width: 100%;
       flex-direction: row;
       justify-content: space-evenly;
       align-content: center;
       
}