*{
  box-sizing: border-box;
}

header{
  /* border: 2px solid black; */
  /* height: 200px; */
  width: 100%;
  /* margin-bottom: 300px; */
}
header h1{
  font-size: 80px;
  margin-left: 620px;
  color: #50C7C7
}
header section{
  margin-left: 780px;
  font-size: 55px;
  color: #50C7C7
}
#reel1, #reel2, #reel3{
  /* border: 2px solid black; */
  width: 33%;
  height: 200px;
  display: inline-block;
  float: left;

}
body{
  background-image: url("vegas.jpg");
}
button{
  font-size: 50px;
}
button:first-of-type{
  margin-left: 650px;
}
button{
  color: #50C7C7;
  background-color: black;
}
video{
  height: 200px;
  width: 100%;
  opacity: 0;
}
@media only screen and (max-width:1600px) {
  header{
    width: 100%;
  }
  header h1 , header section{
    margin: 0;
  }
  button:first-of-type{
    margin: 0;
  }
}
