body {
  padding: 2% 10%;
  text-align: center;
}

.rules {
  float:left;
  width: 18%;
  font-size: 2rem;
}

.rules:first-child {
  margin-left: 5%;
}

.reel {
  float: left;
  width: 28%;
  height: 400px;
  margin-left: 5%;
  margin-bottom: 50px;
  border: 1px solid black;
  font-size: 50px;
  background-color: navy;
  color: white;
}

.reel:first-of-type {
  margin-left: 2%;
}

button, input{
  clear:both;
  display: block;
  width: 15%;
  margin-left: 35%;
  margin-bottom: 15px;
  height: 30px;
  font-size: 1rem;
}

button {
  margin-left: 43%;
}
