/* CSS files add styling rules to your content */

body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;
}

h1 {
  font-style: italic;
  color: #373fff;
}
.columns{
  height:300px;
  width:25%;
  border:1px solid black;
  margin-left: 2em;
  float:left;
  margin-bottom:2em;
}
button{
  display:inline-block;
  clear:both;
  height:50px;
  width:20em;
  margin-bottom:2em;
  margin-right:1em;
  margin-left:10em;

}

img{
  height: 300px;
  width: 100%;
}
