*{
  box-sizing: border-box;
} 
body {
  display:flex; 
  flex-direction: column;
  align-items: center;
  background-color:lightpink; 
  justify-content:space-around; 
}

.container div {
  border: 1px solid black; 
  width: 33%;
  height:300px; 
  display:flex;
  align-items: center; 
  justify-content: center;

}
.container {
  display:flex; 
  flex-direction: row; 
  width:100%; 
  color:white; 
} 

img {
  width:100%;
  height:300px; 
}

button {
  display:flex;
  align-items:center; 
  margin-top: 20px; 
}